.img1 {
    max-width: 10rem;
    object-fit: cover;
}

.perfil p {
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 20px;
}

.perfil h5 {
    margin-top: 0.7rem;
    margin-bottom: 0;
    font-size: 30px;
}

.buttonEdit {
    margin-left: 1rem;
}